<div>
    <h2 class="mb-4">Часто задаваемые вопросы</h2>

    <div id="accordion">
        <div class="faq__card">
            <div class="faq__card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        Как осуществляется доставка GrowFood?
                        <span>
                            <svg width="10" height="6" class="svg-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#icon-chevron-down">
                                </use>
                            </svg>
                        </span>
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="faq__card-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et id vulputate nulla velit etiam eget. Pharetra libero nibh urna, ullamcorper at egestas. Facilisis sollicitudin tellus quam quam ut sed diam ut. Ultrices bibendum massa aliquet eu et, mauris turpis imperdiet.
                </div>
            </div>
        </div>
        <div class="faq__card">
            <div class="faq__card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        Есть ли выгодный промокод от GrowFood?
                        <span>
                            <svg width="10" height="6" class="svg-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#icon-chevron-down">
                                </use>
                            </svg>
                        </span>
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="faq__card-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et id vulputate nulla velit etiam eget. Pharetra libero nibh urna, ullamcorper at egestas. Facilisis sollicitudin tellus quam quam ut sed diam ut. Ultrices bibendum massa aliquet eu et, mauris turpis imperdiet.
                </div>
            </div>
        </div>
        <div class="faq__card">
            <div class="faq__card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree">
                        Как посетители FoodRate оценивают GrowFood?
                        <span>
                            <svg width="10" height="6" class="svg-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#icon-chevron-down">
                                </use>
                            </svg>
                        </span>
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="faq__card-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et id vulputate nulla velit etiam eget. Pharetra libero nibh urna, ullamcorper at egestas. Facilisis sollicitudin tellus quam quam ut sed diam ut. Ultrices bibendum massa aliquet eu et, mauris turpis imperdiet.
                </div>
            </div>
        </div>
    </div>
</div>