<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="d-lg-flex justify-content-between align-items-center">
                <a href="#" class="js-city header__top-city" title="Выбрать город">
                    <svg width="16" height="16" class="svg-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#icon-map-pin-header"></use>
                    </svg> Ваш город: Санкт-Петербург
                </a>

                <div class="header__top-user-actions">
                    <a href="#" class="js-favorite" title="Избранное">
                        <svg width="16" height="16" class="svg-icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#icon-fav"></use>
                        </svg>
                    </a>
                    <a href="#" class="js-notify" title="Уведомления">
                        <svg width="16" height="16" class="svg-icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#icon-bell"></use>
                        </svg>
                    </a>
                    <div class="divider-vertical"></div>
                    <div>
                        <div class="header__top-login">
                            <div class="d-flex align-items-center">
                                <a class="btn-link" href="#">
                                    <svg width="16" height="16" class="svg-icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#icon-log-in"></use>
                                    </svg> Вход / Регистрация
                                </a>
                                <span>или</span>
                                <div class="d-flex">
                                    <a href="#!" data-toggle="tooltip" title="Вход через социальную сеть">
                                        <svg width="24" height="24" class="svg-icon">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#icon-log-vk"></use>
                                        </svg>
                                    </a>
                                    <a href="#!" data-toggle="tooltip" title="Вход через социальную сеть">
                                        <svg width="24" height="24" class="svg-icon">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#icon-log-fb"></use>
                                        </svg>
                                    </a>
                                    <a href="#!" data-toggle="tooltip" title="Вход через социальную сеть">
                                        <svg width="24" height="24" class="svg-icon">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#icon-log-ig"></use>
                                        </svg>
                                    </a>
                                    <a href="#!" data-toggle="tooltip" title="Вход через социальную сеть">
                                        <svg width="24" height="24" class="svg-icon">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#icon-log-ya"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="dropdown show">
                            <a class="btn-drop dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg width="16" height="16" class="svg-icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#icon-user"></use>
                                </svg> Константин Константинопольский
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Пункт 1</a>
                                <a class="dropdown-item" href="#">Пункт 2</a>
                                <a class="dropdown-item" href="#">Пункт 3</a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="container">
            <nav class="navbar navbar-expand-lg d-lg-none">
                <a class="navbar-brand" href="#">
                    <img src="img/svg/logo.svg" alt="logo">
                </a>
                <button type="button" data-toggle="collapse" class="btn-medium" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    Меню
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a href="#!">Рейтинги</a>
                        </li>
                        <li class="nav-item">
                            <a href="#!">Каталог</a>
                        </li>
                        <li class="nav-item">
                            <a href="#!">Рационы</a>
                        </li>
                        <li class="nav-item active">
                            <a href="#!">Средства для похудения</a>
                        </li>
                        <li class="nav-item">
                            <a href="#!">Статьи и обзоры</a>
                        </li>
                        <li class="nav-item">
                            <a href="#!" class="search js-search">
                            <svg width="16" height="16" class="svg-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#icon-search"></use>
                            </svg>
                        </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="d-lg-flex d-none justify-content-between align-items-center">
                <a href="/">
                    <img src="img/svg/logo.svg" alt="logo">
                </a>

                <div class="header__bottom-menu">
                    <nav>
                        <a href="#!">Рейтинги</a>
                        <a href="#!">Каталог</a>
                        <a href="#!">Рационы</a>
                        <a href="#!">Средства для похудения</a>
                        <a href="#!">Статьи и обзоры</a>
                        <a href="#!" class="search js-search">
                            <svg width="16" height="16" class="svg-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#icon-search"></use>
                            </svg>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="search-modal">
        <div class="container position-relative">
            <form action="">
                <input type="text" placeholder="Поиск...">
            </form>
            <a href="#" class="js-search-close search-close">
                <svg width="45" height="45" class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#icon-close-search"></use>
                </svg>
            </a>
            <div class="search__result">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
</header>