<section>
    <div class="container mt-5 pt-3">
        <h2>Подберите для себя индивидуальный рацион</h2>

        <form action="">
            <div class="personal-diet shadow-md mt-4 mb-5">
                <div class="personal-diet-choose">
                    <div class="dropdown">
                        <a class="btn-drop dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                            <svg width="16" height="16" class="svg-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#icon-crosshair"></use>
                            </svg> Тип рациона
                        </a>

                        <div class="dropdown-menu" >
                            <a class="dropdown-item" href="#">Тип 1</a>
                            <a class="dropdown-item" href="#">Тип 2</a>
                            <a class="dropdown-item" href="#">Тип 3</a>
                        </div>
                    </div>

                    <div class="dropdown">
                        <a class="btn-drop dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                            <svg width="16" height="16" class="svg-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#icon-droplet"></use>
                            </svg> Калорийность
                        </a>

                        <div class="dropdown-menu" >
                            <a class="dropdown-item" href="#">Тип 1</a>
                            <a class="dropdown-item" href="#">Тип 2</a>
                            <a class="dropdown-item" href="#">Тип 3</a>
                        </div>
                    </div>

                    <div class="dropdown">
                        <a class="btn-drop dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                            <svg width="16" height="16" class="svg-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#icon-calendar"></use>
                            </svg> Дни приема
                        </a>

                        <div class="dropdown-menu" >
                            <a class="dropdown-item" href="#">Тип 1</a>
                            <a class="dropdown-item" href="#">Тип 2</a>
                            <a class="dropdown-item" href="#">Тип 3</a>
                        </div>
                    </div>

                    <div class="dropdown">
                        <a class="btn-drop dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                            <svg width="16" height="16" class="svg-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#icon-map-pin"></use>
                            </svg> Санкт-Петербург
                        </a>

                        <div class="dropdown-menu" >
                            <a class="dropdown-item" href="#">Тип 1</a>
                            <a class="dropdown-item" href="#">Тип 2</a>
                            <a class="dropdown-item" href="#">Тип 3</a>
                        </div>
                    </div>

                    <a href="#!" class="btn-medium">
                        <svg width="16" height="16" class="svg-icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#icon-search"></use>
                        </svg> Найти
                    </a>

                </div>

                <div class="personal-diet-tags">
                    <button type="button" class="btn-small">
                        Кошерный <svg width="12" height="12" class="svg-icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#icon-close"></use>
                                </svg>
                    </button>
                    <button type="button" class="btn-small">
                        Постный <svg width="12" height="12" class="svg-icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#icon-close"></use>
                                </svg>
                    </button>
                    <button type="button" class="btn btn-outline-secondary">Кошерный</button>
                    <button type="button" class="btn btn-outline-secondary">Постный</button>
                    <button type="button" class="btn btn-outline-secondary">Халяльный</button>
                    <button type="button" class="btn btn-outline-secondary">Кошерный</button>
                    <button type="button" class="btn btn-outline-secondary">Постный</button>
                </div>
            </div>
        </form>
    </div>

    <!--@include("personal-diet-tabs.html")-->
</section>