<div class="container mt-4 mb-5">
    <nav>
        <div class="nav nav-tabs" id="service_nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-tab-pop" data-toggle="tab" href="#service_nav-pop" role="tab" aria-controls="service_nav-pop" aria-selected="true">Популярные</a>
            <a class="nav-item nav-link" id="service_nav-tab-best" data-toggle="tab" href="#service_nav-best" role="tab" aria-controls="service_nav-best" aria-selected="false">Лучшие</a>
            <a class="nav-item nav-link" id="service_nav-tab-chip" data-toggle="tab" href="#service_nav-chip" role="tab" aria-controls="service_nav-chip" aria-selected="false">Дешевле</a>
            <a class="nav-item nav-link" id="service_nav-tab-expen" data-toggle="tab" href="#service_nav-expen" role="tab" aria-controls="service_nav-expen" aria-selected="false">Дороже</a>
            <a class="nav-item nav-link" id="service_nav-tab-reviews" data-toggle="tab" href="#service_nav-reviews" role="tab" aria-controls="service_nav-reviews" aria-selected="false">Больше отзывов</a>
        </div>
    </nav>
    <div class="tab-content mb-4" id="service_nav-tabContent">
        <div class="tab-pane fade show active" id="service_nav-pop" role="tabpanel" aria-labelledby="nav-tab-pop">
            <div class="row mt-5">
                <div class="col-12 mb-3">
                    <div class="card card-inline d-block d-lg-flex align-items-center justify-content-between flex-row mb-0">
                        <div class="d-lg-flex align-items-center  text-lg-left text-center">
                            <div class="card__image d-inline-block mr-lg-3 mb-lg-0">
                                <a href="#!">
                                    <img src="img/cat1.png" alt="category">
                                </a>
                            </div>
                            <div class="card__rate mr-lg-4 mb-0">
                                <div class="font-weight-bold mb-1">
                                    <a href="#!">Grow Food</a>
                                </div>
                                <div>
                                    4.2 <svg width="15" height="15" class="svg-icon">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#icon-starfull"></use>
                                        </svg>
                                        <svg width="15" height="15" class="svg-icon">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#icon-star"></use>
                                        </svg>
                                        <svg width="15" height="15" class="svg-icon">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#icon-star"></use>
                                        </svg>
                                        <svg width="15" height="15" class="svg-icon">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#icon-star"></use>
                                        </svg>
                                        <svg width="15" height="15" class="svg-icon">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#icon-star"></use>
                                        </svg>
                                </div>
                            </div>
                            <div class="card__detail mr-lg-4">
                                <div class="mt-0 mb-1">
                                    <span class="card__detail-title">Цены</span>
                                </div>
                                <div class="mt-0 mb-0">
                                    <p>1 200 - 28 000 ₽</p>
                                </div>
                            </div>
                            <div class="card__detail">
                                <div class="mt-lg-0 mb-1">
                                    <span class="card__detail-title">Тип рациона</span>
                                </div>
                                <div class="mt-0 mb-0">
                                    <p>Детокс, Быстрое похудение, Похудение, Поддержание, Набор массы, Индивидуальный</p>
                                </div>
                            </div>
                        </div>

                        <div class="card__cart d-flex justify-content-lg-start justify-content-center border-0 p-0 pl-2 mt-lg-0 mt-4">
                            <a href="#!" class="btn-medium gray px-3">
                                <svg width="15" height="15" class="svg-icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#icon-shopping-cart"></use>
                                </svg>
                            </a>
                            <a href="#!" class="btn-medium gray ml-2 px-3">
                                <svg width="15" height="15" class="svg-icon m-0">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#icon-fav"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <div class="card card-inline d-block d-lg-flex align-items-center justify-content-between flex-row mb-0">
                        <div class="d-lg-flex align-items-center text-lg-left text-center">
                            <div class="card__image d-inline-block mr-lg-3 mb-lg-0">
                                <a href="#!">
                                    <img src="img/cat2.png" alt="category">
                                </a>
                            </div>
                            <div class="card__rate mr-lg-4 mb-0">
                                <div class="font-weight-bold mb-1">
                                    <a href="#!">GooD FooD Academy</a>
                                </div>
                                <div>
                                    4.2 <svg width="15" height="15" class="svg-icon">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#icon-starfull"></use>
                                        </svg>
                                        <svg width="15" height="15" class="svg-icon">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#icon-star"></use>
                                        </svg>
                                        <svg width="15" height="15" class="svg-icon">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#icon-star"></use>
                                        </svg>
                                        <svg width="15" height="15" class="svg-icon">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#icon-star"></use>
                                        </svg>
                                        <svg width="15" height="15" class="svg-icon">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#icon-star"></use>
                                        </svg>
                                </div>
                            </div>
                            <div class="card__detail mr-lg-4">
                                <div class="mt-0 mb-1">
                                    <span class="card__detail-title">Цены</span>
                                </div>
                                <div class="mt-0 mb-0">
                                    <p>1 200 - 28 000 ₽</p>
                                </div>
                            </div>
                            <div class="card__detail">
                                <div class="mt-lg-0 mb-1">
                                    <span class="card__detail-title">Тип рациона</span>
                                </div>
                                <div class="mt-0 mb-0">
                                    <p>Детокс, Быстрое похудение, Похудение, Поддержание, Набор массы, Индивидуальный</p>
                                </div>
                            </div>
                        </div>

                        <div class="card__cart d-flex justify-content-lg-start justify-content-center border-0 p-0 pl-2 mt-lg-0 mt-4">
                            <a href="#!" class="btn-medium gray px-3">
                                <svg width="15" height="15" class="svg-icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#icon-shopping-cart"></use>
                                </svg>
                            </a>
                            <a href="#!" class="btn-medium gray ml-2 px-3">
                                <svg width="15" height="15" class="svg-icon m-0">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#icon-fav"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="service_nav-best" role="tabpanel" aria-labelledby="service_nav-tab-best">best</div>
        <div class="tab-pane fade" id="service_nav-chip" role="tabpanel" aria-labelledby="service_nav-tab-chip">chip</div>
        <div class="tab-pane fade" id="service_nav-expen" role="tabpanel" aria-labelledby="service_av-tab-expen">expen</div>
        <div class="tab-pane fade" id="service_nav-reviews" role="tabpanel" aria-labelledby="service_nav-tab-reviews">rew</div>
    </div>
    <a href="#!" class="btn-big w-100 mb-5">Смотреть все сервисы доставки</a>
</div>