<section>
    <div class="container">
        <div class="slider-top mt-4">
            <div>
                <a href="#!" style="background-image: url(img/slidertop1.jpg)">
                    <h3>GrowFood</h3>
                    <p>Похудей комфортно!</p>
                    <span>1200 ккал</span>
                </a>
            </div>
            <div>
                <a href="#!" style="background-image: url(img/slidertop1.jpg)">
                    <h3>GrowFood</h3>
                    <p>Похудей комфортно!</p>
                    <span>1200 ккал</span>
                </a>
            </div>
            <div>
                <a href="#!" style="background-image: url(img/slidertop1.jpg)">
                    <h3>GrowFood</h3>
                    <p>Похудей комфортно!</p>
                    <span>1200 ккал</span>
                </a>
            </div>
            <div>
                <a href="#!" style="background-image: url(img/slidertop1.jpg)">
                    <h3>GrowFood</h3>
                    <p>Похудей комфортно!</p>
                    <span>1200 ккал</span>
                </a>
            </div>
        </div>
    </div>
</section>